@font-face {
	font-family: 'Baskerville';
	src: url(../fonts/Baskerville.ttc);
}
/*////////// Global Styles //////////*/

body {
	background: #F3EBE9;
	font-size: 100%;
	font-family: 'Times New Roman', serif; 
	display: block;
}

.wrapper {
	width: 66.66666%;
	min-width: 1050px;
	margin: 0 auto;
	background: #fff;
	padding: 0 45px 20px;
}

* {
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}

/* Write all remaining styles here */

header h1 {
	padding-bottom: 10px;
	margin: 0 0 5px;
	font-size: 5em;
	font-weight: normal;
	font-family: 'Baskerville', serif;
	border-bottom: 1px solid rgb(204, 204, 204);
}

header a {
	color: rgb(152,173,166);
	text-decoration: none;
}

img {
	max-width: 100%;
}

a {
	color: #fff;
}

p {
	color: #555;
    font-size: 1em;
    margin: 0 0 20px 0;
}

#featured {

}

#featured-image {
	position: relative;
	top: 10px;
	background: rgba(151, 172, 165 1);
}

#featured-image img {
	border: 6px solid rgba(151, 172, 165, 1);
}

#press-section {
	display: block;
}

#press-section img {
	display: inline-block;
	width: 24%;
	border: 6px solid #ccc;
	padding: 1px;
}

footer {
	text-align: right;
	background: #fff;
}

.footer-text {
	font-size: 0.8em;
}

/* Hover styles */




